<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codesignet.consalto">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gs"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnJqW9uZjLabfj-RbG8DbmMMQfsYM26FM"/>

        <activity android:name=".contactus.ui.activity.ContactUsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".suggestion.ui.activity.SuggestionActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:screenOrientation="portrait" >

        </activity>

        <activity android:name=".Profile.ui.ProfileActivity"
            android:screenOrientation="portrait" ></activity>


        <activity android:name=".login.ui.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".forget_password.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".splash.ui.activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Settings.ui.SettingsActivity"
            android:screenOrientation="portrait" ></activity>


        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="@string/google_maps_key" />-->

        <activity
            android:name=".home.Home.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".medical_service_details.ui.activity.DetailsActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".feedback.ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>